@import "tailwindcss";

:root {
  --background: #e7dfd9;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e7dfd9;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: var(--font-baskerville);
  font-size: 34px;
  margin-bottom: 24px;
  margin-top: 20px;
}

.title2 {
  font-family: var(--font-baskerville);
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: left;
}

.subtitle {
  font-family: var(--font-bricolage);
  font-size: 15px;
}

.subtitle2 {
  font-family: var(--font-bricolage);
  font-size: 15.5px;
  text-align: justify;
}

.text {
  font-family: var(--font-bricolage);
  font-size: 14px;
  color: #0f0f0f;
}

a.text {
  color: #000000;
}

.principal {
  font-family: var(--font-bricolage);
  font-size: 16px;
  color: #b18918;
}

.principal:hover {
  font-weight: bold;
}

a.text:hover,
span.text:hover {
  color: #b18918;
}

.card-skill {
  padding: 40px 10px 50px 30px;
  border-radius: 28px;
  transition: all 0.3s ease;
  border: 1px solid #d4af37;
}

.card-skill:hover {
  border-color: #d4af37;
  box-shadow: 0 8px 20px rgba(212, 175, 55, 0.12);
}

.card-title {
  font-family: var(--font-bricolage);
  font-size: 15px;
  color: #0f0f0f;
  text-align: center;
  margin-left: -10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skill-pill {
  background: #f4ede7;
  border: 1px solid #ece6df;
  transition: all 0.3s ease;
  font-family: var(--font-bricolage);
  font-size: 14px;
  color: #0f0f0f;
  margin-top: 20px;
  text-align: center;
  padding: 10px 16px;
  border-radius: 999px;
}

.skill-pill:hover {
  background: #b18918;
  color: white;
  border-color: #b18918;
}

.contact-text {
  margin-top: 2rem;
  line-height: 1.8;
}

.contact-mail {
  display: inline-block;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 999px;
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  background-color: #f4ede75e;
  font-family: var(--font-bricolage);
  font-size: 14px;
  color: #0f0f0f;
  align-items: center;
}

.contact-mail:hover {
  box-shadow: 0 8px 20px rgba(212, 175, 55, 0.12);
}

footer {
  padding-top: 24px;
  font-family: var(--font-bricolage);
  font-size: 16px;
}
